header{
    text-align: center;
    margin-bottom: 10vh;
}


button{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
    background-color: azure;
}

#board{
    width: 100%;
    align-items: center;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 5vh;
}